<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <a class="btn btn-outline-info" [routerLink]="['/']">Anasayfa</a>
    </div>
    <div class="col-md-4">

      <div class="card">
        <div class="card-header">
          <h4>Yetkili Üye Giriş Ekranı</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>E-Posta Adresi</label>
            <input type="text" class="form-control" name="mail" #mail>
          </div>
          <div class="form-group">
            <label>Parola</label>
            <input type="password" class="form-control" name="parola" #parola>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary btn-block" (click)="GirisYap(mail.value,parola.value)">Giriş
            Yap</button>
            <p class="bg-info mt-1">Yetkili üyeleri sadece admin kaydedebilir.</p>
        </div>
      </div>
      <div [ngClass]="sonuc.islem ? 'alert alert-success':'alert alert-danger'" *ngIf="sonuc.mesaj?.length>0">
        {{sonuc.mesaj}}</div>
    </div>
  </div>
</div>